#datetime-picker {
    color: #2E2F42;
    margin-left: 156px;
    margin-top: 36px;
    padding-left: 16px;
    width: 272px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #808080;
}


#datetime-picker:hover {
    color: #2E2F42;
    border: 1px solid #000000;
}


#datetime-picker:active {
    color: #000000;
    border: 1px solid #4E75FF;
}


#datetime-picker:focus {
    color: #2E2F42;
    border: 1px solid #4E75FF;
    outline: none;
}


#datetime-picker:disabled {
    color: #808080;
    border: 1px solid #808080;
    background-color: #f0f0f0;
}

button {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background: #4E75FF;
}

button:hover {
    color: #FFFFFF;
    background-color: #6C8CFF;
}

button:disabled {
    color: #989898;
    background: #CFCFCF;
}

.timer {
    display: flex;
    margin-left: 156px;
    margin-top: 32px;
    gap: 35px;
}

.field {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.value {
    color: #2E2F42;
    font-family: 'Montserrat', Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.04em;
    width: 55px;
    height: 48px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    color: #2E2F42;
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    justify-content: flex-start;
    width: 44px;
    height: 24px;
    text-align: left;
}

button:hover {
    color: #FFFFFF;
    background-color: #6C8CFF;
}

button:disabled {
    color: #989898;
    background: #CFCFCF;
}


.field {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.value {
    color: #2E2F42;
    font-family: 'Montserrat', Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.04em;
    width: 55px;
    height: 48px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    color: #2E2F42;
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    justify-content: flex-start;
    width: 44px;
    height: 24px;
    text-align: left;
}